
  
  /* #navbarSupportedContent, */
  /* #navbarSupportedContent .navbar-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #navbarSupportedContent .nav-two {
    display: none
  }

  header .left {
    display: block !important;
  }

  header .right {
    display: block !important;
  } */
  
